body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
    align-items: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.tab-button {
    all: unset;
    background-color: white;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 550;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

.tab-button:hover {
    text-decoration: underline;
}

.tab-button.active {
    text-decoration: underline;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    color: #000;
}

.contact-section h2 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    letter-spacing: 0;
}

.contact-adress,
.contact-info {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.contact-info p {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.social-links {
    margin-top: 2rem;
}

.social-link {
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    margin-right: 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.social-link:hover {
    color: #ff7e5f;
    transform: scale(1.1);
}

.registration-form {
    background-image: url('../assets/images/contact_form_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 50%;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
}

.registration-form h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.form-group {
    flex: 1;
    min-width: 7.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 0.125rem solid #fff;
    background: transparent;
    font-size: 1.25rem;
    color: #fff;
    outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #444;
    transform: scale(1.05);
}
